
body{
    margin: 0;
    padding: 0;
}

#nav-placeholder{
    margin-bottom: 100px;
    width: 100%;
}
.main_container{
    background-color: #f9f9f9;
    font-size:24px;
    padding: 25px;
  
}

.parallax {
    min-height: 1200px;
    background: transparent ;

}
.web_intro{
    font-family: 'Satisfy', cursive;
    word-spacing: 8px;
    line-height: 1.6;
}
.project_container{
    display: flex;
    flex-wrap: wrap;
}
.project{
    width: 50%;
    background-color: #2C302E;
    border-right: ivory 3px solid;
}
@media screen and (max-width: 1100px) {
    .project{
      width: 95%;
    }
  }
.project_image{
    max-width: 100%;
    padding: 20px;
}
.project_description{
    color: ivory;
}
.title{
    color: ivory;
    font-family: 'Caveat', cursive;
    text-align: center;
    font-size: large;
    padding: 0;
    margin: 0;

}
.content{
    padding-left: 20px;
    color: ivory;
    font-family: 'Caveat', cursive;
    font-size: medium;
}
.web_technology{
    
    font-family: 'Knewave', cursive;
    text-align: center;
    font-size: larger;
}
footer{
    text-align: center;
    font-size: 50px;
    font-family: 'Caveat', cursive;
    padding: 20px;
    margin-bottom: 20px;
    height: 100px;
    background-color: wheat;
}
