html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
   
    margin: 0 5rem 0 5rem;
}

h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
}
a {
    color: #DA0090;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.posted {
    font-size: 0.8rem;
    color: #89A611;
}
footer {
    text-align: center;
    font-size: 0.8rem;
}
h1{
    color: #DA0090;
    padding-top: 2rem;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

article{
    display: flex;
    margin-bottom: 3rem;
}
.description{
    padding-left: 2rem;
}
.image{
    border-radius: 1rem;
}
footer ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
footer li{
    margin: 1px;
}
